header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  .container-fluid {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    // padding: 0 22px 0 32px;
  }

  .header_left {
    margin: auto 0;
    img {
      width: 155px;
      height: auto;
      transition: 0.2s;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .header-right {
    .tour-navbar {
      padding: 0;
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style-type: none;
        li {
          padding: 24px 0 24px;
          display: block;
          margin-left: 42px;
          i {
            font-size: 10px;
            margin-left: 6px;
          }
          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
            color: #013879;
            padding-bottom: 8px;
            transition: opacity 0.3s;
            &:hover::after {
              width: 100%;
            }
            &::after {
              display: block;
              content: "";
              width: 0;
              height: 1.5px;
              background-color: red;
              transition: all 0.3s;
            }
          }
          .search {
            font-size: 21px;
          }
        }
      }
    }
  }
}

// tourism-menu
header {
  .tourism-menu {
    top: 61%;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 82px;
    padding-bottom: 37px;
    z-index: 2;
    .container {
      ul {
        flex-direction: column;
        li {
          margin: 0;
          padding: 0 0 8px 0;
          font-size: 16px;
          color: #222;
          cursor: pointer;
        }
      }
      .col-9 {
        a {
          display: block;
          color: #222;
          font-weight: 400;
          padding: 0;
          margin-bottom: 15px;
          font-size: 14px;
          &::after {
            display: none;
          }
          &:hover {
            opacity: 0.5;
          }
        }
        .col-style {
          a:first-child {
            font-weight: 600;
            font-size: 16px;
          }
          a:last-child {
            font-weight: 600;
            text-decoration: underline;
          }
        }
        .col {
          a:first-child {
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
    .high-class {
      a:last-child {
        font-weight: 400 !important;
        text-decoration: none !important;
      }
    }
  }
}

// Hover
header {
  .tour {
    &::before {
      top: 55%;
      position: absolute;
      content: "";
      // background-color: red;
      height: 45px;
      width: 7%;
      // display: block;
      z-index: 2;
    }
    &:hover + .tourism-menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  .tourism-menu {
    &:hover {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  // parter
  .partner {
    position: relative;
    &:hover .parter-item {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    .parter-item {
      position: absolute;
      top: calc(100% - 26px);
      left: -44px;
      width: 190px;
      margin-top: 10px;
      padding: 20px 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      a {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        color: #222 !important;
        font-weight: 400 !important;
        &::after {
          display: none !important;
        }
        &:hover {
          opacity: 0.5;
        }
      }
      a:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.animation-fly {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.3s ease;
  background-color: #fff;
}

//////////////////////////// REPONSIVE //////////////////////////////

@media screen and (max-width: 767.98px) {
  header {
    .header-right {
      margin: 8px 0;
      .header-mobile {
        padding: 4px;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          margin-left: 8px;
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          transition: background-color 0.3s;
          &:hover {
            background-color: #e9ecef;
          }
          i {
            font-size: 20px;
            color: #333;
          }
        }
      }
    }
  }

  // list item mobile
  header {
    .header-right {
      .list-item-mobile {
        overflow-y: auto;
        z-index: 999;
        height: 100vh;
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        animation: fadeIn 0.4s;
        background-color: #e9ecef;
        z-index: 2;
        ul {
          margin: 0;
          padding: 0;
        }
        li {
          list-style-type: none;
          padding: 20px 16px;
          font-size: 18px;
          font-weight: 600;
          color: #013879;
          i {
            font-size: 12px;
            margin-left: 4px;
          }
        }

        // foreign-mobile
        .foreign-mobile,
        .domestic-mobile,
        .luxurytravel-mobile,
        .partner-mobile {
          display: none;
          transform-origin: 100% top;
          animation: notify ease-in 0.2s;
          .mobile-item {
            margin-top: 20px;
            a {
              text-decoration: none;
              color: #222;
              font-weight: 400;
              font-size: 15px;
            }
            .row {
              margin-top: 8px;
            }
          }
        }
        .foreign-mobile.show,
        .domestic-mobile.show,
        .luxurytravel-mobile.show,
        .partner-mobile.show {
          display: block; /* Hiện khi có class show */
        }
      }
      .list-item-mobile.show {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992.98px) {
  header {
    .tourism-menu {
      top: 80%;
    }
    .header-right {
      .tour-navbar {
        ul {
          li {
            margin-left: 5px;
            a {
              font-size: 12px;
              padding-bottom: 0;
              i {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992.99px) and (max-width: 1231px) {
  header {
    .tourism-menu {
      top: 80%;
    }
    .header-right {
      .tour-navbar {
        ul {
          li {
            margin-left: 16px;
            a {
              font-size: 16px;
              padding-bottom: 0;
              i {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity: 1;
  }
}

@keyframes notify {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
